<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Lỗi không tìm thấy trang.</h3>
                <p>
                    Chúng tôi không thể tìm thấy trang bạn yêu cầu,
                </p>
                <p>
                    Vui lòng kiểm tra lại đường dẫn hoặc liên hệ admin để được hỗ trợ.
                </p>
                <!--<p>
                    Chúng tôi không thể tìm thấy trang bạn yêu cầu,
                    Meanwhile, you may <a href="../../index.html">return to dashboard</a> or try using the search form.
                </p>

                <form class="search-form">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" name="submit" class="btn btn-warning btn-flat"><i
                                    class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    &lt;!&ndash; /.input-group &ndash;&gt;
                </form>-->
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>