<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{'SIDEBAR.LIST_SYS' | translate }}
            <!--<small>{{'COMMON.LIST_LABLE' | translate }}</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> {{'SIDEBAR.DASHBOARD' | translate }}</a></li>
            <li class="active">{{'SIDEBAR.LIST_SYS' | translate }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="{{viewmode? 'col-md-6':'col-md-12'}} form-horizontal">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="form-group">
                            <label for="listtype_s" class="col-sm-3 control-label">Loại danh mục</label>

                            <div class="col-sm-9">
                                <select [(ngModel)]="searchparam.listtype_s" (change)="selectListType()" id="listtype_s"
                                        name="listtype_s" class="form-control" title="Loại danh mục">
                                    <option *ngFor='let item of listtype' value="{{item.code}}">{{item.name | translate
                                        }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="listtype_s" class="col-sm-8 control-label">Tìm thấy <span class="text-red">{{total}}</span>
                                đối tượng danh mục</label>

                            <div class="col-sm-4">
                                <button type="button" (click)="addList()" class="btn btn-info pull-right">Thêm</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th style="width: 100px">Trạng thái</th>
                                <th style="width: 60px">Tác vụ</th>
                            </tr>

                            <tr *ngFor="let item of listdata | paginate: { itemsPerPage: searchparam.limit, currentPage: searchparam.page, totalItems: total }">
                                <td>{{item.code}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.enabled}}</td>
                                <td class="text-center">
                                    <button (click)="editList(item.id)" type="submit" class="btn btn-xs btn-info">Sửa</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <pagination-template #api="paginationApi"
                                             (pageChange)="p = getPage($event)">
                            <ul class="pagination pagination-sm no-margin pull-left">
                                <li class="paginate_button previous" [class.disabled]="api.isFirstPage()">
                                    <a *ngIf="!api.isFirstPage()" (click)="api.previous()" href="javascript:void(0);">
                                        {{
                                        'PAGINATION.PREVIOUS' | translate }} </a>
                                </li>
                                <li class="paginate_button" *ngFor="let page of api.pages"
                                    [class.active]="api.getCurrent() === page.value">
                                    <a (click)="api.setCurrent(page.value)"
                                       *ngIf="api.getCurrent() !== page.value" href="javascript:void(0);">
                                        <span>{{ page.label }}</span>
                                    </a>
                                    <a *ngIf="api.getCurrent() === page.value" href="javascript:void(0);">{{
                                        page.label }}</a>
                                </li>

                                <li class="paginate_button next" [class.disabled]="api.isLastPage()">
                                    <a *ngIf="!api.isLastPage()" (click)="api.next()" href="javascript:void(0);"> {{
                                        'PAGINATION.NEXT'
                                        | translate }} </a>
                                </li>
                            </ul>
                        </pagination-template>
                        <button type="button" (click)="addList()" class="btn btn-info pull-right">Thêm</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="{{viewmode? 'col-md-6':'hidebox'}}">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{'COMMON.DETAL_LABLE' | translate }} {{'LIST.LIST_LABLE_TITLE' |
                            translate
                            }}</h3>
                        <button type="button" (click)="goBack()" class="btn btn-warning pull-right">Quay lại</button>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" #form="ngForm">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="listtype_code" class="col-sm-3 control-label text-red">Loại danh mục</label>

                                <div class="col-sm-9">
                                    <select [(ngModel)]="list.listtype_code" class="form-control" id="listtype_code"
                                            name="listtype_code" title="Loại danh mục" required>
                                        <option *ngFor='let item of listtype' value="{{item.code}}">{{item.name |
                                            translate }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="code" class="col-sm-3 control-label text-red">Mã danh mục</label>

                                <div class="col-sm-9" [ngClass]="(code.touched && !code.valid)? 'has-error': ''">
                                    <input [(ngModel)]="list.code" type="text" class="form-control" #code="ngModel"
                                           id="code" name="code"
                                           placeholder="Mã danh mục" required>
                                    <div [hidden]="code.valid || code.untouched">
                                            <span *ngIf="code.errors && code.errors.required" class="help-block">
                                                Phải nhập mã danh mục!
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label text-red">Tên danh mục</label>

                                <div class="col-sm-9" [ngClass]="(name.touched && !name.valid)? 'has-error': ''">
                                    <input [(ngModel)]="list.name" type="text" class="form-control" #name="ngModel"
                                           id="name" name="name"
                                           placeholder="Tên danh mục" required>
                                    <div [hidden]="name.valid || name.untouched">
                                            <span *ngIf="name.errors && name.errors.required" class="help-block">
                                                Phải nhập tên danh mục!
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input [(ngModel)]="list.enabled" id="enabled" name="enabled"
                                                   type="checkbox"> Hoạt động
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button *ngIf="actionmode=='EDIT'" (click)="deleteList()" type="button" class="btn btn-danger">Xóa</button>
                            <button type="button" [disabled]="!form.form.valid" (click)="saveList()"
                                    class="btn {{!form.form.valid? 'btn-default': 'btn-info'}} pull-right">Cập nhật
                            </button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->