<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{'SIDEBAR.USER' | translate }}
            <!--<small>{{'COMMON.LIST_LABLE' | translate }}</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> {{'SIDEBAR.DASHBOARD' | translate }}</a></li>
            <li class="active">{{'SIDEBAR.USER' | translate }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="{{viewmode? 'col-md-6':'col-md-12'}} form-horizontal">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="form-group">
                            <label for="department_s" class="col-sm-3 control-label">Bộ phận</label>

                            <div class="col-sm-9">
                                <select [(ngModel)]="searchparam.department_s" (change)="selectDepartment()" id="department_s"
                                        name="department_s" class="form-control" title="Loại danh mục">
                                    <option id="" value=""></option>
                                    <option *ngFor='let item of listdata' value="{{item.code}}">{{item.name | translate
                                        }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-8 control-label">Tìm thấy <span class="text-red">{{total}}</span>
                                người sử dụng</label>

                            <div class="col-sm-4">
                                <button type="button" (click)="addUser()" class="btn btn-info pull-right">Thêm</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Tên</th>
                                <th>Email</th>
                                <th>Quyền</th>
                                <th style="width: 100px">Trạng thái</th>
                                <th style="width: 60px">Tác vụ</th>
                            </tr>

                            <tr *ngFor="let item of userdata | paginate: { itemsPerPage: searchparam.limit, currentPage: searchparam.page, totalItems: total }">
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.role}}</td>
                                <td>{{item.enabled}}</td>
                                <td class="text-center">
                                    <button (click)="editUser(item.id)" type="submit" class="btn btn-xs btn-info">Sửa</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <pagination-template #api="paginationApi"
                                             (pageChange)="p = getPage($event)">
                            <ul class="pagination pagination-sm no-margin pull-left">
                                <li class="paginate_button previous" [class.disabled]="api.isFirstPage()">
                                    <a *ngIf="!api.isFirstPage()" (click)="api.previous()" href="javascript:void(0);">
                                        {{
                                        'PAGINATION.PREVIOUS' | translate }} </a>
                                </li>
                                <li class="paginate_button" *ngFor="let page of api.pages"
                                    [class.active]="api.getCurrent() === page.value">
                                    <a (click)="api.setCurrent(page.value)"
                                       *ngIf="api.getCurrent() !== page.value" href="javascript:void(0);">
                                        <span>{{ page.label }}</span>
                                    </a>
                                    <a *ngIf="api.getCurrent() === page.value" href="javascript:void(0);">{{
                                        page.label }}</a>
                                </li>

                                <li class="paginate_button next" [class.disabled]="api.isLastPage()">
                                    <a *ngIf="!api.isLastPage()" (click)="api.next()" href="javascript:void(0);"> {{
                                        'PAGINATION.NEXT'
                                        | translate }} </a>
                                </li>
                            </ul>
                        </pagination-template>
                        <button type="button" (click)="addUser()" class="btn btn-info pull-right">Thêm</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>

            <div class="{{viewmode? 'col-md-6':'hidebox'}}">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{'COMMON.DETAL_LABLE' | translate }} {{'USER.USER_LABLE_TITLE' |
                            translate
                            }}</h3>
                        <button type="button" (click)="goBack()" class="btn btn-warning pull-right">Quay lại</button>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" #form="ngForm">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="department_code" class="col-sm-3 control-label text-red">Bộ phận</label>

                                <div class="col-sm-9" [ngClass]="(department_code.touched && !department_code.valid)? 'has-error': ''">
                                    <select [(ngModel)]="user.department_code" class="form-control" id="department_code" #department_code="ngModel"
                                            name="department_code" title="Bộ phận" required>
                                        <option value=""></option>
                                        <option *ngFor='let item of listdata' value="{{item.code}}">{{item.name |
                                            translate }}
                                        </option>
                                    </select>
                                    <div [hidden]="department_code.valid || department_code.untouched">
                                            <span *ngIf="department_code.errors && department_code.errors.required" class="help-block">
                                                Phải chọn bộ phận quản lý!
                                            </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label text-red">Họ và tên</label>

                                <div class="col-sm-9" [ngClass]="(name.touched && !name.valid)? 'has-error': ''">
                                    <input [(ngModel)]="user.name" type="text" class="form-control" #name="ngModel"
                                           id="name" name="name"
                                           placeholder="Tên người dùng" required>
                                    <div [hidden]="name.valid || name.untouched">
                                            <span *ngIf="name.errors && name.errors.required" class="help-block">
                                                Phải nhập tên người dùng!
                                            </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label text-red">Email đăng nhập</label>

                                <div class="col-sm-9" [ngClass]="(email.touched && !email.valid)? 'has-error': ''">
                                    <input [(ngModel)]="user.email" type="text" class="form-control" #email="ngModel"
                                           id="email" name="email"
                                           placeholder="Email đăng nhập" required>
                                    <div [hidden]="email.valid || email.untouched">
                                            <span *ngIf="email.errors && email.errors.required" class="help-block">
                                                Phải nhập email dùng để đăng nhập hệ thống!
                                            </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">Mật khẩu</label>

                                <div class="col-sm-9">
                                    <input [(ngModel)]="user.password" type="password" class="form-control"
                                           id="password" name="password"
                                           placeholder="Mật khẩu đăng nhập">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">Quyền</label>

                                <div class="col-sm-9">
                                    <div class="multiobj">
                                        <div *ngFor='let item of roles' class="checkbox col-sm-6">
                                            <label>
                                                <input id="{{item.code}}" name="{{item.code}}"
                                                       [checked]="user.role!='' && user.role.includes(item.code)"
                                                       (change)="checkedItems(item.code)"
                                                       type="checkbox"> {{item.name | translate }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input [(ngModel)]="user.enabled" id="enabled" name="enabled"
                                                   type="checkbox"> Hoạt động
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button *ngIf="actionmode=='EDIT'" (click)="deleteList()" type="button" class="btn btn-danger">Xóa</button>
                            <button type="button" [disabled]="!form.form.valid" (click)="saveRecord()"
                                    class="btn {{!form.form.valid? 'btn-default': 'btn-info'}} pull-right">Cập nhật
                            </button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->