<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{titleAction | translate }} {{'CONTRACT.CONTRACT_LABLE_TITLE' | translate }}
            <!--<small>{{'COMMON.LIST_LABLE' | translate }}</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> {{'SIDEBAR.MAIN_NAVIGATION' | translate }}</a></li>
            <li><a href="#">{{'SIDEBAR.CONTRACT' | translate }}</a></li>
            <li class="active">{{titleAction | translate }} {{'CONTRACT.CONTRACT_LABLE_TITLE' | translate }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#detail" data-toggle="tab">Thông tin chung</a></li>
                        <li><a href="#product" data-toggle="tab">Thông tin sản phẩm</a></li>
                        <li><a href="#command" data-toggle="tab">Lệnh sản xuất</a></li>
                        <li><a href="#timeline" data-toggle="tab">Tiến độ thực hiện</a></li>
                        <button type="button" (click)="goBack()" class="btn btn-back-on-tab btn-warning pull-right">Quay
                            lại
                        </button>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="detail">
                            <form class="form-horizontal" #form="ngForm">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="customer_id" class="col-sm-3 control-label text-red">Khách
                                                hàng</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(customer_id.touched && !customer_id.valid)? 'has-error': ''">
                                                <select [(ngModel)]="detail.customer_id" class="form-control"
                                                        id="customer_id"
                                                        #customer_id="ngModel"
                                                        name="customer_id" title="Khách hàng" required>
                                                    <option value=""></option>
                                                    <option *ngFor='let item of customer' value="{{item.id}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                                <div [hidden]="customer_id.valid || customer_id.untouched">
                                            <span *ngIf="customer_id.errors && customer_id.errors.required"
                                                  class="help-block">
                                                Phải chọn khách hàng!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="code" class="col-sm-3 control-label text-red">Mã hợp
                                                đồng</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(code.touched && !code.valid)? 'has-error': ''">
                                                <input [(ngModel)]="detail.code" type="text" class="form-control"
                                                       #code="ngModel"
                                                       id="code" name="code"
                                                       placeholder="Mã hợp đồng" required>
                                                <div [hidden]="code.valid || code.untouched">
                                            <span *ngIf="code.errors && code.errors.required" class="help-block">
                                                Phải nhập mã hợp đồng!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="signdate" class="col-sm-3 control-label text-red">Ngày
                                                ký</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(signdate.touched && !signdate.valid)? 'has-error': ''">
                                                <input [(ngModel)]="detail.signdate" type="text" class="form-control"
                                                       #signdate="ngModel"
                                                       id="signdate" name="signdate"
                                                       placeholder="Ngày ký" required>
                                                <div [hidden]="signdate.valid || signdate.untouched">
                                            <span *ngIf="signdate.errors && signdate.errors.required"
                                                  class="help-block">
                                                Phải nhập ngày ký!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="durationdate" class="col-sm-3 control-label text-red">Thời
                                                hạn</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(durationdate.touched && !durationdate.valid)? 'has-error': ''">
                                                <input [(ngModel)]="detail.durationdate" type="text"
                                                       class="form-control"
                                                       #durationdate="ngModel"
                                                       id="durationdate" name="durationdate"
                                                       placeholder="Thời hạn" required>
                                                <div [hidden]="durationdate.valid || durationdate.untouched">
                                            <span *ngIf="durationdate.errors && durationdate.errors.required"
                                                  class="help-block">
                                                Phải nhập thời hạn!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="value" class="col-sm-3 control-label">Giá trị</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.value" type="text" class="form-control"
                                                       id="value" name="value"
                                                       placeholder="Giá trị hợp đồng" required>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="content" class="col-sm-3 control-label text-red">Nội
                                                dung</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(content.touched && !content.valid)? 'has-error': ''">
                                        <textarea [(ngModel)]="detail.content" name="content" id="content"
                                                  class="form-control"
                                                  rows="3" placeholder="Nội dung hợp đồng"
                                                  maxlength="400" required
                                                  #content="ngModel"></textarea>
                                                <div [hidden]="content.valid || content.untouched">
                                            <span *ngIf="content.errors && content.errors.required"
                                                  class="help-block">
                                                Phải nhập nội dung hợp đồng!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button *ngIf="recordId" (click)="showConfirm()" type="button"
                                            class="btn btn-danger">Xóa
                                    </button>
                                    <button type="button" [disabled]="!form.form.valid" (click)="saveRecord()"
                                            class="btn {{!form.form.valid? 'btn-default': 'btn-info'}} pull-right">Cập
                                        nhật
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="product">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Danh sách sản phẩm</h3>
                                </div>
                                <div class="box-body no-padding">
                                    <div class="mailbox-controls">
                                        <!-- Check all button -->
                                        <button type="button" (click)="checkboxtoggle()"
                                                class="btn btn-default btn-sm checkbox-toggle"><i
                                                class="fa {{checkall? 'fa-check-square-o': 'fa-square-o'}}"></i>
                                        </button>
                                        <button type="button" (click)="getProduct(recordId.toString())"
                                                class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                        <button type="button" (click)="addProduct()" class="btn btn-default btn-sm"><i
                                                class="fa fa-plus"></i>
                                        </button>
                                        <button type="button" (click)="editProduct()" class="btn btn-default btn-sm"><i
                                                class="fa fa-pencil-square-o"></i>
                                        </button>
                                        <button type="button" (click)="deleteProdConfirm()" class="btn btn-default btn-sm"><i
                                                class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Loại sản phẩm</th>
                                                <th>Số lượng</th>
                                                <th>Kích thước</th>
                                                <th>Số trang ruột</th>
                                                <th>Quy cách đóng</th>
                                            </tr>
                                            <tr *ngFor="let prodItem of products">
                                                <td><input id="{{prodItem.id}}" name="{{prodItem.id}}"
                                                           title="Chọn hợp đồng"
                                                           type="checkbox"
                                                           [checked]=""
                                                           (change)="checkedItems(prodItem.id)"></td>
                                                <td class="mailbox-name">{{prodItem.producttypes.name}}</td>
                                                <td class="mailbox-name">{{prodItem.count}}</td>
                                                <td class="mailbox-name">{{prodItem.long}}x{{prodItem.large}}</td>
                                                <td class="mailbox-name">{{prodItem.number_page}}</td>
                                                <td class="mailbox-subject">{{prodItem.standard}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                    <!-- /.mail-box-messages -->
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer no-padding">
                                    <div class="mailbox-controls">
                                        <!-- Check all button -->
                                        <button type="button" (click)="checkboxtoggle()"
                                                class="btn btn-default btn-sm checkbox-toggle"><i
                                                class="fa {{checkall? 'fa-check-square-o': 'fa-square-o'}}"></i>
                                        </button>
                                        <button type="button" (click)="getProduct(recordId.toString())"
                                                class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                        <button type="button" (click)="addProduct()" class="btn btn-default btn-sm"><i
                                                class="fa fa-plus"></i>
                                        </button>
                                        <button type="button" (click)="editProduct()" class="btn btn-default btn-sm"><i
                                                class="fa fa-pencil-square-o"></i>
                                        </button>
                                        <button type="button" (click)="deleteProdConfirm()" class="btn btn-default btn-sm"><i
                                                class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="command">
                            <form class="form-horizontal" #form2="ngForm">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="structure_name" class="col-sm-3 control-label text-red">Tên kết
                                                cấu</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(structure_name.touched && !structure_name.valid)? 'has-error': ''">
                                                <input [(ngModel)]="detail.structure_name" type="text"
                                                       class="form-control"
                                                       #structure_name="ngModel"
                                                       id="structure_name" name="structure_name"
                                                       placeholder="Tên kết cấu" required>
                                                <div [hidden]="structure_name.valid || structure_name.untouched">
                                            <span *ngIf="structure_name.errors && structure_name.errors.required"
                                                  class="help-block">
                                                Phải nhập tên kết cấu!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="number_page" class="col-sm-3 control-label">Số
                                                trang</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.number_page" type="text" class="form-control"
                                                       id="number_page" name="number_page"
                                                       placeholder="Số trang">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="size_prod" class="col-sm-3 control-label">Khổ
                                                TP</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.number" type="text" class="form-control"
                                                       id="size_prod" name="size_prod"
                                                       placeholder="Khổ thành phẩm">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="mold" class="col-sm-3 control-label">Bát/ Khuôn
                                                in</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.mold" class="form-control" id="mold"
                                                        name="mold" title="Bát/ Khuôn in">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of moldList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="number_hand" class="col-sm-3 control-label">Số
                                                tay</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.number_hand" class="form-control"
                                                        id="number_hand"
                                                        name="number_hand" title="Số tay">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of number_handList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="print_type" class="col-sm-3 control-label">Cách
                                                in</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.print_type" class="form-control"
                                                        id="print_type"
                                                        name="print_type" title="Cách in">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of print_typeList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="print_size" class="col-sm-3 control-label">Khổ
                                                in</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.print_size" class="form-control"
                                                        id="print_size"
                                                        name="print_size" title="Khổ in">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of print_sizeList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="print_color" class="col-sm-3 control-label">Màu
                                                in</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.print_color" class="form-control"
                                                        id="print_color"
                                                        name="print_color" title="Màu in">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of print_colorList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="zinc_type" class="col-sm-3 control-label">Loại
                                                kẽm</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.zinc_type" class="form-control"
                                                        id="zinc_type"
                                                        name="zinc_type" title="Loại kẽm">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of zinc_typeList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="machine" class="col-sm-3 control-label">Máy</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.machine" class="form-control"
                                                        id="machine"
                                                        #machine="ngModel"
                                                        name="machine" title="Máy in">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of machineList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="zinc_count"
                                                   class="col-sm-3 control-label">SL(kẽm-đế)</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.zinc_count" type="text"
                                                       class="form-control"
                                                       #zinc_count="ngModel"
                                                       id="zinc_count" name="zinc_count"
                                                       placeholder="Số lượng kẽm, đế">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="paper_type" class="col-sm-3 control-label">Loại giấy</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.paper_type" class="form-control"
                                                        id="paper_type"
                                                        #paper_type="ngModel"
                                                        name="paper_type" title="Loại giấy">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of paper_typeList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="size_store" class="col-sm-3 control-label">Khổ
                                                kho</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.size_store" class="form-control"
                                                        id="size_store"
                                                        #size_store="ngModel"
                                                        name="size_store" title="Khổ kho">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of size_storeList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="cut_type" class="col-sm-3 control-label">Cắt
                                                cách</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.cut_type" class="form-control"
                                                        id="cut_type"
                                                        #cut_type="ngModel"
                                                        name="cut_type" title="Cách cắt">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of cut_typeList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="paper_count" class="col-sm-3 control-label">SL giấy
                                                (tờ)</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.paper_count" type="text"
                                                       class="form-control"
                                                       #paper_count="ngModel"
                                                       id="paper_count" name="paper_count"
                                                       placeholder="Số lượng giấy theo tờ">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="paper_kg" class="col-sm-3 control-label">SL giấy (kg)</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.paper_kg" type="text"
                                                       class="form-control"
                                                       #paper_kg="ngModel"
                                                       id="paper_kg" name="paper_kg"
                                                       placeholder="Số lượng giấy theo kg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="amortization" class="col-sm-3 control-label">Bù hao</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.amortization" type="text"
                                                       class="form-control"
                                                       #amortization="ngModel"
                                                       id="amortization" name="amortization"
                                                       placeholder="Bù hao">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="un_amortization" class="col-sm-3 control-label">Tờ chưa bù
                                                hao</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.un_amortization" type="text"
                                                       class="form-control"
                                                       #un_amortization="ngModel"
                                                       id="un_amortization" name="un_amortization"
                                                       placeholder="Tờ chưa bù hao">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="total_sheet" class="col-sm-3 control-label">Tổng tờ
                                                in</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.total_sheet" type="text"
                                                       class="form-control"
                                                       #total_sheet="ngModel"
                                                       id="total_sheet" name="total_sheet"
                                                       placeholder="Tổng tờ in">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="print_count" class="col-sm-3 control-label">Lượt in</label>

                                            <div class="col-sm-9">
                                                <input [(ngModel)]="detail.print_count" type="text"
                                                       class="form-control"
                                                       #print_count="ngModel"
                                                       id="print_count" name="print_count"
                                                       placeholder="Lượt in">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="number_char" class="col-sm-3 control-label">Số vạch</label>

                                            <div class="col-sm-9">
                                                <select [(ngModel)]="detail.number_char" class="form-control"
                                                        id="number_char"
                                                        #number_char="ngModel"
                                                        name="number_char" title="Số vạch">
                                                    <option value=""></option>
                                                    <option *ngFor='let item of number_charList' value="{{item.code}}">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="button" [disabled]="!form.form.valid" (click)="saveRecord()"
                                            class="btn {{!form.form.valid? 'btn-default': 'btn-info'}} pull-right">Cập
                                        nhật
                                    </button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                        </div>

                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2014
                        </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-envelope bg-blue"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                        <div class="timeline-body">
                                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                            quora plaxo ideeli hulu weebly balihoo...
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                            <a class="btn btn-danger btn-xs">Delete</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-user bg-aqua"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                        <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your
                                            friend request
                                        </h3>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-comments bg-yellow"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post
                                        </h3>

                                        <div class="timeline-body">
                                            Take me to your leader!
                                            Switzerland is small and neutral!
                                            We are more like Germany, ambitious and misunderstood!
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                <li class="time-label">
                        <span class="bg-green">
                          3 Jan. 2014
                        </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-camera bg-purple"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                        <div class="timeline-body">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>