<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hợp đồng
            <small>13 hợp đồng mới</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Chức năng chính</a></li>
            <li class="active">Hợp đồng</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <form (ngSubmit)="search()">
                <div class="col-md-3">
                    <a (click)="addContract()" class="btn btn-primary btn-block margin-bottom">Tạo hợp đồng mới</a>

                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thư mục</h3>

                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#"><i class="fa fa-inbox"></i> Hợp đồng mới
                                    <span class="label label-primary pull-right">12</span></a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i> Hợp đồng đang sản xuất</a></li>
                                <li><a href="#"><i class="fa fa-file-text-o"></i> Hợp đồng đã thành phẩm</a></li>
                                <li><a href="#"><i class="fa fa-filter"></i> Hợp đồng đã bàn giao<span
                                        class="label label-warning pull-right">65</span></a>
                                </li>
                                <li><a href="#"><i class="fa fa-folder-o"></i> Hợp đồng lưu</a></li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Đánh dấu</h3>

                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Đến hạn thanh lý</a></li>
                                <li><a href="#"><i class="fa fa-circle-o text-red"></i> Quan trọng</a></li>
                                <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Phức tạp</a></li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Hợp đồng mới</h3>

                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    <input [(ngModel)]="searchparam.searchInput" id="searchInput" name="searchInput"
                                           type="text" class="form-control input-sm" placeholder="Tìm hợp đồng">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button type="button" (click)="checkboxtoggle()"
                                        class="btn btn-default btn-sm checkbox-toggle"><i
                                        class="fa {{checkall? 'fa-check-square-o': 'fa-square-o'}}"></i>
                                </button>
                                <button type="button" (click)="showConfirm()" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i>
                                </button>
                                <button type="button" (click)="getContractsData(searchparam)"
                                        class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <div class="pull-right">
                                    {{from}}-{{to}}/{{total}}
                                    <div class="btn-group">
                                        <button (click)="pagePrev()" type="button" class="btn btn-default btn-sm"><i
                                                class="fa fa-chevron-left"></i></button>
                                        <button (click)="pageNext()" type="button" class="btn btn-default btn-sm"><i
                                                class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped">
                                    <tbody>
                                    <tr *ngFor="let item of listdata">
                                        <td><input id="{{item.id}}" name="{{item.id}}" title="Chọn hợp đồng" type="checkbox"
                                                   [checked]="checklist!='' && checklist.includes(item.id)"
                                                   (change)="checkedItems(item.id)"></td>
                                        <td class="mailbox-name">{{item.code}}</td>
                                        <td class="mailbox-date">{{item.signdate}}</td>
                                        <td class="mailbox-name">{{item.customers.name}}</td>
                                        <td class="mailbox-subject">{{item.content}}</td>
                                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                            <!-- /.mail-box-messages -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button type="button" (click)="checkboxtoggle()"
                                        class="btn btn-default btn-sm checkbox-toggle"><i
                                        class="fa  {{checkall? 'fa-check-square-o': 'fa-square-o'}}"></i>
                                </button>
                                <button type="button" (click)="showConfirm()" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i>
                                </button>
                                <button type="button" (click)="getContractsData(searchparam)"
                                        class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <div class="pull-right">
                                    {{from}}-{{to}}/{{total}}
                                    <div class="btn-group">
                                        <button (click)="pagePrev()" type="button" class="btn btn-default btn-sm"><i
                                                class="fa fa-chevron-left"></i></button>
                                        <button (click)="pageNext()" type="button" class="btn btn-default btn-sm"><i
                                                class="fa fa-chevron-right"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /. box -->
                </div>
                <!-- /.col -->
            </form>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->