.btn-back-on-tab {
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 95%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    overflow-x: auto;
    min-height: 80%;
}

.product-modal-dialog {
    width: 90%;
}

.sizeinput {
    width: 33%;
}

.producs-base-item {
    border: 1px solid #ddd;
    margin-top: 15px;
    cursor: pointer;
}

.producs-base-item:hover {
    background-color: #1b6d85;
}

.producs-base-item img {
    width: 90%;
    margin: 10px;
}

.producs-base-item .produc-name {
    margin: 5px;
    margin-top: 15px;
}

.tbl-command {
    max-width: 100%;
}

.header-tbl {
    background-color: #dddddd;
    vertical-align: middle;
}