<div class="modal-dialog product-modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">Lệnh sản xuất</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-striped tbl-command">
                <tbody>
                <tr>
                    <th class="header-tbl" rowspan="2">Tên sản phẩm</th>
                    <th class="header-tbl" rowspan="2">Số trang</th>
                    <th class="header-tbl" rowspan="2">Khổ TP(cm)</th>
                    <th class="header-tbl" rowspan="2">Bát/khuôn in</th>
                    <th class="header-tbl" rowspan="2">Số tay</th>
                    <th class="header-tbl" rowspan="2">Cách in</th>
                    <th class="header-tbl" rowspan="2">Khổ in</th>
                    <th class="header-tbl" rowspan="2">Màu in</th>
                    <th class="header-tbl" rowspan="2">Loại kẽm</th>
                    <th class="header-tbl" rowspan="2">Máy</th>
                    <th class="header-tbl" rowspan="2">SL(kẽm-đế)</th>
                    <th class="header-tbl" rowspan="2">Loại giấy/ĐL</th>
                    <th class="header-tbl" rowspan="2">Khổ kho</th>
                    <th class="header-tbl" rowspan="2">SL.Giấy xuất(tờ)</th>
                    <th class="header-tbl" rowspan="2">SL.Giấy xuất(kg)</th>
                    <th class="header-tbl" rowspan="2">Cách cắt</th>
                    <th class="header-tbl" rowspan="2">Bù hao</th>
                    <th class="header-tbl" rowspan="2">Tờ chưa bù hao</th>
                    <th class="header-tbl" rowspan="2">Tổng SL tờ in đã bù hao</th>
                    <th class="header-tbl" rowspan="2">Lượt/Click</th>
                    <th class="header-tbl" rowspan="2">Số vạch</th>
                    <th class="header-tbl" rowspan="2">Quy cách đóng</th>
                    <th class="header-tbl" rowspan="2">Cách gia công</th>
                    <th class="header-tbl" rowspan="2">Cách đóng gói</th>
                    <th class="header-tbl text-center" colspan="4">Thời gian thực hiện</th>
                </tr>
                <tr>
                    <th class="header-tbl">PX. THIẾT KẾ - CHẾ BẢN</th>
                    <th class="header-tbl">CẮT GIẤY TRẮNG</th>
                    <th class="header-tbl">PX. MÁY IN/PX.TK-CB (IN KTS)</th>
                    <th class="header-tbl">PX. GIA CÔNG SAU IN</th>
                </tr>
                <tr>
                    <th>(1)</th>
                    <th>(2)</th>
                    <th>(3)</th>
                    <th>(4)</th>
                    <th>(5)</th>
                    <th>(6)</th>
                    <th>(7)</th>
                    <th>(8)</th>
                    <th>(9)</th>
                    <th>(10)</th>
                    <th>(11)</th>
                    <th>(12)</th>
                    <th>(13)</th>
                    <th>(14)</th>
                    <th>(15)</th>
                    <th>(16)</th>
                    <th>(17)</th>
                    <th>(18)</th>
                    <th>(19)</th>
                    <th>(20)</th>
                    <th>(21)</th>
                    <th>(22)</th>
                    <th>(23)</th>
                    <th>(24)</th>
                    <th>(25)</th>
                    <th>(26)</th>
                    <th>(27)</th>
                    <th>(28)</th>
                </tr>
                <tr *ngFor="let el of elements; let i = index">
                    <td class="capitalize">{{el.name}}</td>
                    <td>{{el.so_trang}}</td>
                    <td>{{el.kho_tp}}</td>
                    <td>{{el.so_bat}}</td>
                    <td>{{el.so_tay}}</td>
                    <td>{{el.cach_in}}</td>
                    <td>{{el.kho_in}}</td>
                    <td>{{el.mau_in}}</td>
                    <td>
                        <select style="width: 75px;" title="{{el.zinc_type.lable}} {{el.name}}" class="form-control"
                                [(ngModel)]="formData.zinc_type[el.id+'-sel-'+el.zinc_type.id]"
                                (change)="genElement()" name="{{el.id}}-sel-{{el.zinc_type.id}}">
                            <option *ngFor='let dataitem of el.zinc_type.data'
                                    value="{{dataitem.list_code}}">{{dataitem.list_code}}
                            </option>
                        </select>
                    </td>
                    <td>{{el.may_in}}</td>
                    <td>{{el.sl_kem}}</td>
                    <td>{{el.loai_giay}}</td>
                    <td><select style="width: 99px;" title="{{el.arrKho_kho.lable}} {{el.name}}" class="form-control"
                                [(ngModel)]="formData.kho_kho[el.id+'-sel-'+el.arrKho_kho.id]"
                                (change)="genElement()" name="{{el.id}}-sel-{{el.arrKho_kho.id}}">
                        <option *ngFor='let dataitem of el.arrKho_kho.data'
                                value="{{dataitem.list_code}}">{{dataitem.list_code}}
                        </option>
                    </select></td>
                    <td>{{el.sl_giay_xuat}}</td>
                    <td>{{el.sl_giay_xuat_kg}}</td>
                    <td>{{el.cach_cat}}</td>
                    <td>{{el.bu_hao}}</td>
                    <td>{{el.tong_to_chua_bu_hao}}</td>
                    <td>{{el.tong_to_da_bu_hao}}</td>
                    <td>{{el.so_luot_in}}</td>
                    <td>{{el.so_vach}}</td>
                    <td style="vertical-align: middle;max-width: 150px;" *ngIf="i===0" [attr.rowspan]="elements.length">
                        <select style="width: 110px;" title="thung" class="form-control"
                                [(ngModel)]="formData.thung" name="thung">
                            <option *ngFor='let dataitem of thungData'
                                    value="{{dataitem.code}}">{{dataitem.name}}
                            </option>
                        </select>
                    </td>
                    <td style="vertical-align: middle;max-width: 150px;" *ngIf="i===0" [attr.rowspan]="elements.length">
                        {{cachGiaCong.join(', ')}}
                    </td>
                    <td style="vertical-align: middle;max-width: 150px;" *ngIf="i===0" [attr.rowspan]="elements.length">
                        <input style="width: 40px;" [(ngModel)]="formData.numofthung" name="numofthung" id="numofthung"
                               type="number" (change)="getThung()" min="0"> sản phẩm/1
                        thùng<br><span>, {{numthung}} thùng</span>
                    </td>
                    <td style="vertical-align: middle;" *ngIf="i===0" [attr.rowspan]="elements.length">
                        {{arrTime['tkcb']}}
                    </td>
                    <td style="vertical-align: middle;" *ngIf="i===0" [attr.rowspan]="elements.length">
                        {{arrTime['cat_giay_trang']}}
                    </td>
                    <td style="vertical-align: middle;" *ngIf="i===0" [attr.rowspan]="elements.length">
                        {{arrTime['mayin_tkcb']}}
                    </td>
                    <td style="vertical-align: middle;" *ngIf="i===0" [attr.rowspan]="elements.length">
                        {{arrTime['gia_cong_sau_in']}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="apply()">Cập nhật</button>
            <button type="button"
                    class="btn btn-primary" (click)="exportExcel()">Xuất Excell
            </button>
        </div>
    </div>
</div>