<div class="modal-dialog product-modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">{{title || 'Prompt'}}</h4>
        </div>
        <div class="modal-body">
            <div *ngIf="status==='none'" class="box-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Loại sản phẩm</div>
                    <div class="panel-body">
                        <template ngFor let-producttypeitem [ngForOf]="producttype">
                            <div class="col-sm-3 text-center">
                                <div class="producs-base-item"
                                     (click)="selectGridProducttype(producttypeitem.code)">
                                    <div class="produc-name">
                                        {{producttypeitem.name}}
                                    </div>
                                    <div class="ui fluid image"><img
                                            src="/download/{{producttypeitem.is_img}}">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div *ngIf="status==='edit'" class="box-body">
                <form class="form-horizontal" #form1="ngForm">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="producttype_code" class="col-sm-4 control-label text-red">Loại sản
                                    phẩm</label>

                                <div class="col-sm-8"
                                     [ngClass]="(producttype_code.touched && !producttype_code.valid)? 'has-error': ''">
                                    <select [(ngModel)]="detail.producttype_code" class="form-control"
                                            id="producttype_code"
                                            #producttype_code="ngModel"
                                            (change)="selectProducttype()"
                                            name="producttype_code" title="Loại sản phẩm" required>
                                        <option value=""></option>
                                        <option *ngFor='let producttypeitem of producttype'
                                                value="{{producttypeitem.code}}">{{producttypeitem.name}}
                                        </option>
                                    </select>
                                    <div [hidden]="producttype_code.valid || producttype_code.untouched">
                                            <span *ngIf="producttype_code.errors && producttype_code.errors.required"
                                                  class="help-block">
                                                Phải chọn loại sản phẩm!
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="detail.producttype_code!=''" class="form-group col-sm-4">
                                <label for="count" class="col-sm-4 control-label text-red">Số lượng</label>

                                <div class="col-sm-8"
                                     [ngClass]="(count.touched && !count.valid)? 'has-error': ''">
                                    <input [(ngModel)]="detail.count" type="text" class="form-control"
                                           #count="ngModel"
                                           id="count" name="count"
                                           placeholder="Số lượng thành phẩm" required>
                                    <div [hidden]="count.valid || count.untouched">
                                            <span *ngIf="count.errors && count.errors.required" class="help-block">
                                                Phải nhập số lượng thành phẩm!
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="detail.producttype_code!=''" class="form-group col-sm-4">
                                <label for="long" class="col-sm-4 control-label text-red">Kích thước</label>

                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input [disabled]="producttypeDetail.size_config && !producttypeDetail.size_config.includes('dai')"
                                               [(ngModel)]="detail.long" type="text"
                                               class="form-control sizeinput input-group-addon"
                                               #long="ngModel"
                                               id="long" name="long"
                                               placeholder="Dài">
                                        <input [disabled]="producttypeDetail.size_config && !producttypeDetail.size_config.includes('rong')"
                                               [(ngModel)]="detail.large" type="text"
                                               class="form-control sizeinput input-group-addon"
                                               #large="ngModel"
                                               id="large" name="large"
                                               placeholder="Rộng">
                                        <input [disabled]="producttypeDetail.size_config && !producttypeDetail.size_config.includes('cao')"
                                               [(ngModel)]="detail.high" type="text"
                                               class="form-control sizeinput input-group-addon"
                                               #high="ngModel"
                                               id="high" name="high"
                                               placeholder="Cao">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <template ngFor let-elsement [ngForOf]="producttypeDetail.element_config">
                                <div *ngFor='let properties of elsement.properties'
                                     class="form-group col-sm-4">
                                    <label for="producttype_code" class="col-sm-4 control-label text-red">{{properties.lable}}</label>
                                    <div class="col-sm-8">

                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="status==='edit'" class="modal-footer">
            <button type="button" [disabled]="form1&&form1.form&&!form1.form.valid"
                    class="btn {{form1&&form1.form&&!form1.form.valid? 'btn-default': 'btn-primary'}}"
                    (click)="apply()">Cập nhật
            </button>
            <button type="button" class="btn btn-default" (click)="close()">Hủy bỏ</button>
        </div>
    </div>
</div>