<div class="modal-dialog product-modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">Lệnh sản xuất</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-striped tbl-command">
                <tbody>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Số trang</th>
                    <th>Khổ TP(cm)</th>
                    <th>Bát/khuôn in</th>
                    <th>Số tay</th>
                    <th>Cách in</th>
                    <th>Khổ in</th>
                    <th>Màu in</th>
                    <th>Loại kẽm</th>
                    <th>Máy</th>
                    <th>SL(kẽm-đế)</th>
                    <th>Loại giấy/ĐL</th>
                    <th>Khổ kho</th>
                    <th>SL.Giấy xuất(tờ)</th>
                    <th>SL.Giấy xuất(kg)</th>
                    <th>Cách cắt</th>
                    <th>Bù hao</th>
                    <th>Tờ chưa bù hao</th>
                    <th>Tổng SL tờ in đã bù hao</th>
                    <th>Lượt/Click</th>
                    <th>Số vạch</th>
                    <th>Quy cách đóng</th>
                    <th>Cách gia công</th>
                    <th>Cách đóng gói</th>
                </tr>
                <tr *ngFor="let el of elements">
                    <td class="capitalize">{{el.name}}</td>
                    <td>{{el.so_trang}}</td>
                    <td>{{el.kho_tp}}</td>
                    <td>{{el.so_bat}}</td>
                    <td>{{el.so_tay}}</td>
                    <td>{{el.cach_in}}</td>
                    <td>{{el.kho_in}}</td>
                    <td>{{el.mau_in}}</td>
                    <td>
                        <select style="width: 75px;" title="{{el.zinc_type.lable}} {{el.name}}" class="form-control"
                                [(ngModel)]="formData.zinc_type[el.id+'-sel-'+el.zinc_type.id]"
                                (change)="genElement()" name="{{el.id}}-sel-{{el.zinc_type.id}}">
                            <option *ngFor='let dataitem of el.zinc_type.data'
                                    value="{{dataitem.list_code}}">{{dataitem.list_code}}
                            </option>
                        </select>
                    </td>
                    <td>{{el.may_in}}</td>
                    <td>{{el.sl_kem}}</td>
                    <td>{{el.loai_giay}}</td>
                    <td><select style="width: 99px;" title="{{el.arrKho_kho.lable}} {{el.name}}" class="form-control"
                                [(ngModel)]="formData.kho_kho[el.id+'-sel-'+el.arrKho_kho.id]"
                                (change)="genElement()" name="{{el.id}}-sel-{{el.arrKho_kho.id}}">
                        <option *ngFor='let dataitem of el.arrKho_kho.data'
                                value="{{dataitem.list_code}}">{{dataitem.list_code}}
                        </option>
                    </select></td>
                    <td>{{el.sl_giay_xuat}}</td>
                    <td>{{el.sl_giay_xuat_kg}}</td>
                    <td>{{el.cach_cat}}</td>
                    <td>{{el.bu_hao}}</td>
                    <td>{{el.tong_to_chua_bu_hao}}</td>
                    <td>{{el.tong_to_da_bu_hao}}</td>
                    <td>{{el.so_luot_in}}</td>
                    <td>###</td>
                    <td>###</td>
                    <td>###</td>
                    <td>###</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary" (click)="apply()">Xuất Excell
            </button>
            <button type="button" class="btn btn-default" (click)="close()">Hủy bỏ</button>
        </div>
    </div>
</div>