/* You can add global styles to this file, and also import other style files */
.form-horizontal .control-label {
    text-align: left;
}

.hidebox {
    display: none;
}

.multiobj {
    border: 1px solid #ddd;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
}

fieldset {
    padding: .35em .625em .75em;
    margin: 10px 0;
    border: 1px solid #c0c0c0;
}

legend, .capitalize {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
}

.btn {
    min-width: 90px;
}

.mailbox-controls .btn {
    min-width: 30px;
}

.title-break {
    border-bottom: 1px dotted #ddd;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
}

.datepicker {
    z-index: 9999;
    text-align: center;
}
.datepicker-switch {
    text-align: center;
}