<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{titleAction | translate }} {{'PRODUCTTYPE.PRODUCTTYPE_LABLE_TITLE' | translate }}
            <!--<small>{{'COMMON.LIST_LABLE' | translate }}</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> {{'SIDEBAR.MAIN_NAVIGATION' | translate }}</a></li>
            <li><a href="#">{{'SIDEBAR.PRODUCT_TYPE' | translate }}</a></li>
            <li class="active">{{titleAction | translate }} {{'PRODUCTTYPE.PRODUCTTYPE_LABLE_TITLE' | translate }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#detail" data-toggle="tab">Thông tin chung</a></li>
                        <button type="button" (click)="goBack()" class="btn btn-back-on-tab btn-warning pull-right">Quay
                            lại
                        </button>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="detail">
                            <form class="form-horizontal" #form="ngForm">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="code" class="col-sm-3 control-label text-red">Mã</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(code.touched && !code.valid)? 'has-error': ''">
                                                <input [(ngModel)]="detail.code" type="text" class="form-control"
                                                       #code="ngModel"
                                                       id="code" name="code"
                                                       placeholder="Mã loại sản phẩm" required>
                                                <div [hidden]="code.valid || code.untouched">
                                            <span *ngIf="code.errors && code.errors.required" class="help-block">
                                                Phải nhập mã loại sản phẩm!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="name" class="col-sm-3 control-label text-red">Tên</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(name.touched && !name.valid)? 'has-error': ''">
                                                <input [(ngModel)]="detail.name" type="text" class="form-control"
                                                       #name="ngModel"
                                                       id="name" name="name"
                                                       placeholder="Tên loại sản phẩm" required>
                                                <div [hidden]="name.valid || name.untouched">
                                            <span *ngIf="name.errors && name.errors.required" class="help-block">
                                                Phải nhập tên loại sản phẩm!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label">Kích thước</label>
                                            <div class="col-sm-9">
                                                <div class="multiobj">
                                                    <div *ngFor='let item of roles' class="checkbox col-sm-6">
                                                        <label>
                                                            <input id="{{item.code}}" name="{{item.code}}"
                                                                   [checked]="user.role!='' && user.role.includes(item.code)"
                                                                   (change)="checkedItems(item.code)"
                                                                   type="checkbox"> {{item.name | translate }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label">Số màu in</label>
                                            <div class="col-sm-9">
                                                <div class="multiobj">
                                                    <div *ngFor='let item of roles' class="checkbox col-sm-6">
                                                        <label>
                                                            <input id="{{item.code}}" name="{{item.code}}"
                                                                   [checked]="user.role!='' && user.role.includes(item.code)"
                                                                   (change)="checkedItems(item.code)"
                                                                   type="checkbox"> {{item.name | translate }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label">Loại giấy/ Đl</label>
                                            <div class="col-sm-9">
                                                <div class="multiobj">
                                                    <div *ngFor='let item of roles' class="checkbox col-sm-6">
                                                        <label>
                                                            <input id="{{item.code}}" name="{{item.code}}"
                                                                   [checked]="user.role!='' && user.role.includes(item.code)"
                                                                   (change)="checkedItems(item.code)"
                                                                   type="checkbox"> {{item.name | translate }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label">Cách gia công</label>
                                            <div class="col-sm-9">
                                                <div class="multiobj">
                                                    <div *ngFor='let item of roles' class="checkbox col-sm-6">
                                                        <label>
                                                            <input id="{{item.code}}" name="{{item.code}}"
                                                                   [checked]="user.role!='' && user.role.includes(item.code)"
                                                                   (change)="checkedItems(item.code)"
                                                                   type="checkbox"> {{item.name | translate }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button *ngIf="recordId" (click)="showConfirm()" type="button"
                                            class="btn btn-danger">Xóa
                                    </button>
                                    <button type="button" [disabled]="!form.form.valid" (click)="saveRecord()"
                                            class="btn {{!form.form.valid? 'btn-default': 'btn-info'}} pull-right">Cập
                                        nhật
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>