<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{titleAction | translate }} {{'PRODUCTTYPE.PRODUCTTYPE_LABLE_TITLE' | translate }}
            <!--<small>{{'COMMON.LIST_LABLE' | translate }}</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> {{'SIDEBAR.MAIN_NAVIGATION' | translate }}</a></li>
            <li><a href="#">{{'SIDEBAR.PRODUCT_TYPE' | translate }}</a></li>
            <li class="active">{{titleAction | translate }} {{'PRODUCTTYPE.PRODUCTTYPE_LABLE_TITLE' | translate }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#detail" data-toggle="tab">Thông tin chung</a></li>
                        <button type="button" (click)="goBack()" class="btn btn-back-on-tab btn-warning pull-right">Quay
                            lại
                        </button>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="detail">
                            <form class="form-horizontal" #form="ngForm">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="code" class="col-sm-3 control-label text-red">Mã</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(code.touched && !code.valid)? 'has-error': ''">
                                                <input [(ngModel)]="detail.code" type="text" class="form-control"
                                                       #code="ngModel"
                                                       id="code" name="code"
                                                       placeholder="Mã loại sản phẩm" required>
                                                <div [hidden]="code.valid || code.untouched">
                                            <span *ngIf="code.errors && code.errors.required" class="help-block">
                                                Phải nhập mã loại sản phẩm!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="name" class="col-sm-3 control-label text-red">Tên</label>

                                            <div class="col-sm-9"
                                                 [ngClass]="(name.touched && !name.valid)? 'has-error': ''">
                                                <input [(ngModel)]="detail.name" type="text" class="form-control"
                                                       #name="ngModel"
                                                       id="name" name="name"
                                                       placeholder="Tên loại sản phẩm" required>
                                                <div [hidden]="name.valid || name.untouched">
                                            <span *ngIf="name.errors && name.errors.required" class="help-block">
                                                Phải nhập tên loại sản phẩm!
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label">Kích thước</label>
                                            <div class="col-sm-9">
                                                <div class="multiobj">
                                                    <div class="checkbox col-sm-6">
                                                        <label>
                                                            <input id="dai" name="dai"
                                                                   [checked]="detail.size_config!='' && detail.size_config.includes('dai')"
                                                                   (change)="checkedSizeItems('dai')"
                                                                   type="checkbox"> Dài
                                                        </label>
                                                    </div>
                                                    <div class="checkbox col-sm-6">
                                                        <label>
                                                            <input id="rong" name="rong"
                                                                   [checked]="detail.size_config!='' && detail.size_config.includes('rong')"
                                                                   (change)="checkedSizeItems('rong')"
                                                                   type="checkbox"> Rộng
                                                        </label>
                                                    </div>
                                                    <div class="checkbox col-sm-6">
                                                        <label>
                                                            <input id="cao" name="cao"
                                                                   [checked]="detail.size_config!='' && detail.size_config.includes('cao')"
                                                                   (change)="checkedSizeItems('cao')"
                                                                   type="checkbox"> Cao
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label">Ảnh đại diện</label>
                                            <div class="col-sm-9">
                                                <input style="display: none;" id="PATH" type="file"
                                                       ngFileSelect
                                                       [options]="options"
                                                       (onUpload)="handleUpload($event)"
                                                       (beforeUpload)="beforeUpload($event)">
                                                <div style="width: 100%" class="input-group pull-right">
                                                    <div class="input-group-addon"
                                                         style="border-left: 1px solid #d2d6de;border-right: 1px solid #d2d6de;cursor:default">
                                                        <span class="pull-left"><i *ngIf="filenameview"
                                                                                   class="fa fa-paperclip"
                                                                                   aria-hidden="true"></i>
                                                          <a *ngIf="filenameview" class="download_file"
                                                             href="/download/{{fileencode}}">{{filenameview}}</a>
                                                              </span>
                                                        <label class="pull-right" style='cursor: pointer' for="PATH">
                                                            <i class="fa fa-upload"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label">Thành phần</label>
                                            <div class="col-sm-9">
                                                <div class="multiobj">
                                                    <div *ngFor='let element of elements'
                                                         class="checkbox col-sm-6">
                                                        <label>
                                                            <input id="{{element.id}}"
                                                                   name="{{element.id}}"
                                                                   [checked]="detail.element_config!='' && detail.element_config.includes(element.id)"
                                                                   (change)="checkedElementItems(element.id)"
                                                                   type="checkbox"> {{element.name}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <div class="checkbox">
                                                    <label>
                                                        <input [(ngModel)]="detail.enabled" id="enabled" name="enabled"
                                                               type="checkbox"> Hoạt động
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button *ngIf="recordId" (click)="showConfirm()" type="button"
                                            class="btn btn-danger">Xóa
                                    </button>
                                    <button type="button" [disabled]="!form.form.valid" (click)="saveRecord()"
                                            class="btn {{!form.form.valid? 'btn-default': 'btn-info'}} pull-right">Cập
                                        nhật
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>